/* styles.css */

body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    
    header {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 1em;
    }
    
    header h1 {
      margin: 0;
    }
    
    header h2 {
      margin: 0;
      font-weight: normal;
    }
    
    header nav {
      margin: 1em 0;
    }
    
    header nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    header nav li {
      list-style-type: none;
      margin: 0 1em;
    }
    
    .no-bullets {
      list-style-type: none;
    }
    
    header nav a {
      color: white;
      text-decoration: none;
    }
    
    header nav a:hover {
      color: #ddd;
    }
    
    #name {
      margin: 0.75em;
      color: black;
      font-size: 2.5em;
    }

    #about, #experience, #education, #skills, #contact {
      margin: 2em;
    }
    
    #about h2, #experience h2, #education h2, #skills h2, #contact h2 {
      margin-top: 0;
      color: #2079c7;
      font-size: 2em;
    }

    #about p, #experience p, #education p, #skills p, #contact p, #name p {
      font-size: 1em;
    }
    
    .container {
      display: flex;
    }
    
    .column {
      flex: 1; /* This will make the columns take up equal amount of space */
    }
    
    .left {
      flex: 2;
      background-color: rgb(255, 255, 255);
    }
    
    .right {
      background-color: rgb(221, 221, 221);
    }
    